    <ons-page id="page11">
        <ons-toolbar>
            <div class="left"><ons-back-button>Página 11 (Componente 9)</ons-back-button></div>
            <div class="center"></div>
        </ons-toolbar>
        <p>This is the eleven page.</p>
        <ons-list>
            <ons-list-item tappable>
                <label class="left">
                    <ons-checkbox input-id="check-1"></ons-checkbox>
                </label>
                <label for="check-1" class="center">
                    Apple
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-checkbox input-id="check-2"></ons-checkbox>
                </label>
                <label for="check-2" class="center">
                    Banana
                </label>
            </ons-list-item>
        </ons-list>
    </ons-page>