    <ons-page id="page7">
        <ons-toolbar>
            <div class="left"><ons-back-button>Página 7 (Componente 5)</ons-back-button></div>
            <div class="center"></div>
        </ons-toolbar>
        <p>This is the seventh page.</p>
        <ons-card>
            <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
            <div class="title">                   Awesome framework                    </div>
            <div class="content">
                <div>
                    <ons-button><ons-icon icon="ion-ios-thumbs-up"></ons-icon></ons-button>
                    <ons-button><ons-icon icon="ion-ios-share"></ons-icon></ons-button>
                </div>
                <ons-list>
                    <ons-list-header>Bindings</ons-list-header>
                    <ons-list-item>Vue</ons-list-item>
                    <ons-list-item>Angular</ons-list-item>
                    <ons-list-item>React</ons-list-item>
                </ons-list>
            </div>
        </ons-card>
    </ons-page>