    <ons-page id="page12">
        <ons-toolbar>
            <div class="left"><ons-back-button>Página 12 (Componente 10)</ons-back-button></div>
            <div class="center"></div>
        </ons-toolbar>
        <p>This is the twelve page.</p>
        <p style="text-align: center; margin-top: 10px;">
            <ons-search-input
                    placeholder="Search"
                    onchange="ons.notification.alert('Searched for: ' + this.value)"
            ></ons-search-input>
        </p>
    </ons-page>