    <ons-page id="page6">
        <ons-toolbar>
            <div class="left"><ons-back-button>Page 6 (Componente 4)</ons-back-button></div>
            <div class="center"></div>
        </ons-toolbar>
        <p>This is the sixth page.</p>
        <p>
            <ons-row>
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-volume-down"></ons-icon>
                </ons-col>
                <ons-col>
                    <ons-range style="width: 100%;" value="25"></ons-range>
                </ons-col>
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-volume-up"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 20px;">
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-brightness-low"></ons-icon>
                </ons-col>
                <ons-col>
                    <ons-range style="width: 100%;" value="50"></ons-range>
                </ons-col>
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-brightness-high"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 20px;">
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-thumb-down"></ons-icon>
                </ons-col>
                <ons-col>
                    <ons-range disabled style="width: 100%;" value="75"></ons-range>
                </ons-col>
                <ons-col width="40px" style="text-align: center; line-height: 31px;">
                    <ons-icon icon="md-thumb-up"></ons-icon>
                </ons-col>
            </ons-row>
        </p>
    </ons-page>