<!-- ESTE ID ES IMPORTANTE PARA EL FINAL DEL INDEX.JS DONDE SE APLICA LA CLASE .CENTER-->
    <ons-page id="page3">
        <ons-toolbar>
            <div class="left"><ons-back-button>Página 3 (Componente 1)</ons-back-button></div>
            <div class="center"></div>
        </ons-toolbar>
        <p>This is the third page.</p>
        <ons-list>
            <ons-list-header>Settings</ons-list-header>
            <ons-list-item>
                <div class="center">
                    Enable cool feature
                </div>
                <div class="right">
                    <ons-switch checked></ons-switch>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Enable even cooler feature
                </div>
                <div class="right">
                    <ons-switch></ons-switch>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Enable amazing feature
                </div>
                <div class="right">
                    <ons-switch disabled></ons-switch>
                </div>
            </ons-list-item>
        </ons-list>
    </ons-page>